VITE_FIREBASE_API_KEY="AIzaSyChYj6_eOb5PO39m0thIjX46eZ5ALa2o1Q"
VITE_FIREBASE_AUTH_DOMAIN="game-night-91464.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://game-night-91464-default-rtdb.firebaseio.com"
VITE_FIREBASE_PROJECT_ID="game-night-91464"
VITE_FIREBASE_STORAGE_BUCKET="game-night-91464.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="946005959910"
VITE_FIREBASE_APP_ID="1:946005959910:web:e5a60b0a7d30c10c8b0727"
